<main>
  {{ content }}
</main>
<footer class="footer">
  <style>
    .image-container {
      display: flex;
      justify-content: center; /* Align items horizontally in the center */
      gap: 20px; /* Optional: Adds some space between the images */
      padding: 20px 0; /* Optional: Adds some padding above and below the images */
    }

    .image-container div {
      text-align: center;
    }

    .image-container img {
      max-width: 100%;
      height: auto;
    }
  </style>
  <div class="image-container">
    <div>
      <a href="https://www.universiteitleiden.nl/en/humanities/leiden-university-centre-for-linguistics">
        <img src="/lucl.png" alt="LUCL" width="240" height="150">
      </a>
    </div>
    <div>
      <a href="https://www.universiteitleiden.nl/en/science/computer-science">
        <img src="/liacs.jpg" alt="LIACS" width="240" height="150">
      </a>
    </div>
    <div>
      <a href="https://www.universiteitleiden.nl/en/humanities/centre-for-digital-humanities">
        <img src="/lucdh.png" alt="LUCDH" width="240" height="240">
      </a>
    </div>
  </div>
</footer>
<small>
  &copy; 2024 CLIN 34 Organisators. All rights reserved. Contact us via <a href="mailto:clin34@leidenuniv.nl">email</a>.
</small>
