---
layout: default
---

{% include home-header.html %}
<style>
    .special-div {
        background-color: #001158;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #ffff;
        transition: background-color 0.3s ease;
    }

    .special-heading-h1 {
    text-align: center;
    color: #ffff; /* Change color to blue */
    }

    .special-heading-h2 {
    text-align: center;
    }

    .featured-div {
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        transition: background-color 0.3s ease;
    }

    .organizers-div {
        a {
            color: #ffffff; /* Set link text color to white */
          }
      }
    
</style>
<div class="special-div">
  <section>
  <h1 class="special-heading-h1"> CLIN 34 — Leiden 2024</h1>
  The 34th Meeting of Computational Linguistics in The Netherlands (CLIN 34), organized by the Leiden University Centre for Linguistics (LUCL), in collaboration with the Leiden Institute of Advanced Computer Science (LIACS), and the Leiden University Centre for Digital Humanities (LUCDH), is set to be held on August 30, 2024 in the Lipsius building of Leiden University, Leiden, The Netherlands. 
  <div class="organizers-div">
    <br> <br> The following people are involved with the organization of CLIN 34: <br>
    <ul>
      <li><a href="https://www.universiteitleiden.nl/en/staffmembers/alina-karakanta">Alina Karakanta, LUCL</a></li>
      <li><a href="https://www.universiteitleiden.nl/en/staffmembers/carole-tiberius">Carole Tiberius, LUCL & INT</a></li>
      <li><a href="https://gijswijnholds.github.io">Gijs Wijnholds, LIACS</a></li>
      <li><a href="https://www.linkedin.com/in/hielke-muizelaar-258864173">Hielke Muizelaar, LUMC</a></li>
      <li><a href="https://www.universiteitleiden.nl/en/staffmembers/jelena-prokic">Jelena Prokic, LUCL & LUCDH</a></li>
      <li><a href="https://liacs.leidenuniv.nl/~spruitmr/dr/m.spru.it/index.html">Marco Spruit, LIACS & LUMC</a></li>
      <li><a href="https://mwestera.humanities.uva.nl">Matthijs Westera, LUCL</a></li>
      <li><a href="https://www.universiteitleiden.nl/en/staffmembers/stephan-raaijmakers">Stephan Raaijmakers, LUCL</a></li>
      <li><a href="https://liacs.leidenuniv.nl/~verbernes">Suzan Verberne, LIACS</a></li>
    </ul>
</div>
</section>
</div>
<h2 class="special-heading-h2">News</h2>
<div class="featured-div">
  {%- assign paginator.per_page = 10 -%}
  {% for post in paginator.posts %}
  <section class="post-entry">
    <h3 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h3>

    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      {%- if jekyll.environment == "production" and site.disqus -%}
        <span> • </span>
        <a class="comment-count" href="{{ post.url | relative_url }}#disqus_thread">
          <span class="disqus-comment-count" data-disqus-url="{{ post.url | absolute_url }}"></span>
        </a>
      {%- endif -%}
    </div>

    <p>{{ post.excerpt }}</p>
  </section>
  {% endfor %}
  {%- if jekyll.environment == "production" and site.disqus -%}
    <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
  {%- endif -%}
</div>

<style>
  body {
      font-size: 15px;
  }
</style>